.nav-link:hover{
    color: $color-3;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar-toggler{
    background-color:$color-3;
}

.botonQatar {
    background-color: white;
    color: $color-qatar;
    border-color: #ffffff;
    border-radius: 15px;
    padding: 7px;
    border: 0px;


    &:hover{
        background-color: $color-qatar;
        color: #ffffff;
        border-color: $color-qatar;
        transition: all 1s;
    }
}

.dropdown-item {
    &.active{
        background-color:$color-1;
    }

    &:active{
        @extend .dropdown-item, .active;
    }
}